.hero {
  position: relative;
  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &.grad {
      &::after {
        display: block;
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.24),
        rgba(0, 0, 0, 0.24)
      );
      content: "";
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        147.41deg,
        #708d77 16.32%,
        rgba(149, 95, 164, 0.9) 47.85%,
        rgba(149, 95, 164, 0) 75.21%
      );
      mix-blend-mode: multiply;
      display: none;
    }
    img {
      @include fullImage;
      &.mob {
        display: none;
      }
    }
  }
  &__inner {
    min-height: calc(100vh - 88px);
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    h1 {
      color: $white2;
    }
    h2 {
      color: $white2;
      font-weight: 400;
      b {
        font-weight: 500;
        display: block;
      }
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
    &__inner {
      padding: 60px 0 44px;
    }
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
    &__inner {
      min-height: 595px;
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
    &__bg {
      img {
        &.desc {
          display: none;
        }
        &.mob {
          display: block;
        }
      }
    }
    &__inner {
      padding: 32px 0;
    }
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.intro {
  background-color: $primary;
  color: $white2;
  padding: 137px 0 323px;
  position: relative;
  &.active {
    .intro {
      &__bg {
        position: absolute;
      }
    }
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    &-video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 100%;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      &::-webkit-media-controls {
        display: none;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 610px;
    &-shape {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 85%;
      max-width: 780px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 100%;
      }
    }
    &-title {
      margin-bottom: 787px;
      max-width: 1002px;
      position: relative;
      z-index: 2;
    }
    &-text {
      margin-bottom: 409px;
      max-width: 835px;
      position: relative;
      z-index: 2;
      &:last-child {
        margin: 0;
      }
      &.mid {
        align-self: flex-end;
      }
      p {
        margin-bottom: 50px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
  .intro {
    padding-bottom: 230px;
    &__inner {
      padding-top: 400px;
      &-title {
        margin-bottom: 600px;
      }
      &-text {
        margin-bottom: 350px;
      }
    }
  }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
  .intro {
  }
}
// 1180px
@mixin intro-xlg-xxlg {
  .intro {
    padding: 164px 0 180px;
    &__bg {
      &-video {
        width: 100%;
        video {
        }
      }
    }
    &__inner {
      padding-top: 340px;
      &-title {
        margin-bottom: 400px;
      }
      &-text {
        margin-bottom: 280px;
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}
// 1024px
@mixin intro-lg-xlg {
  .intro {
  }
}
// 930px
@mixin intro-md-lg {
  .intro {
    &__inner {
      &-title {
        margin-bottom: 300px;
      }
    }
  }
}
// 750px
@mixin intro-sm-md {
  .intro {
    padding-bottom: 120px;
    &__bg {
      &-video {
        height: 70%;
        overflow: hidden;
      }
    }
    &__inner {
      &-shape {
        width: 88%;
      }
      &-title {
        margin-bottom: 248px;
        h2 {
          font-size: 24px;
        }
      }
      &-text {
        margin-bottom: 248px;
        p {
          margin-bottom: 24px;
        }
      }
    }
  }
}
// 650px
@mixin intro-sm-md-extra {
  .intro {
  }
}
// 540px
@mixin intro-xsm-sm {
  .intro {
  }
}
// 440px
@mixin intro-xxsm-xsm {
  .intro {
  }
}
.banner {
  &Image {
    width: calc(100% + 48px);
    margin: 0 -24px;
    &__inner {
      padding-bottom: 45%;
      position: relative;
      border-radius: 24px;
      overflow: hidden;
      min-height: 320px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
}
// 1380px
@mixin banner-xxxlg-xxxxlg {
  .banner {
    &Image {
      width: calc(100% + 40px);
      margin: 0 -20px;
    }
  }
}
// 1180px
@mixin banner-xlg-xxlg {
  .banner {
    &Image {
      width: calc(100% + 20px);
      margin: 0 -10px;
    }
  }
}
// 750px
@mixin banner-sm-md {
  .banner {
    &Image {
      width: calc(100% + 16px);
      margin: 0 -8px;
      &__inner {
        border-radius: 16px;
      }
    }
  }
}
.review {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.24),
        rgba(0, 0, 0, 0.24)
      );
      z-index: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      @include fullImage;
    }
  }
  &__inner {
    padding: 56px 0;
  }
  &Content {
    position: relative;
    color: $white2;
    &__inner {
      position: relative;
      z-index: 2;
      min-height: 824px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__text {
      max-width: 1092px;
      padding: 100px 0;
    }
    &__quote {
      position: absolute;
      top: 0;
      left: 0;
      width: 72px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.bot {
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
        transform: scale(-1);
      }
      img {
        width: 100%;
      }
    }
  }
}
// 1380px
@mixin review-xxxlg-xxxxlg {
  .review {
    &Content {
    }
  }
}
// 1180px
@mixin review-xlg-xxlg {
  .review {
    &__inner {
      padding: 40px 0;
    }
    &Content {
      &__inner {
        min-height: 650px;
      }
      &__quote {
        width: 56px;
        height: 50px;
      }
    }
  }
}
// 930px
@mixin review-md-lg {
  .review {
    &Content {
      &__inner {
        min-height: 472px;
      }
      &__quote {
        width: 46px;
        height: 42px;
      }
      &__text {
        padding: 100px 0;
      }
    }
  }
}
// 750px
@mixin review-sm-md {
  .review {
    &__inner {
      padding: 24px 0;
    }
    &Content {
      &__quote {
        width: 36px;
        height: 32px;
      }
    }
  }
}
.info {
  padding-bottom: 200px;
  border-top: 1px solid #708e77;
  margin-top: 100px;
  background-color: $white;
  position: relative;
  &::before {
    position: absolute;
    bottom: calc(100% + 1px);
    left: 0;
    width: 100%;
    content: "";
    height: 100px;
    background-color: $white;
  }
  &__inner {
    &-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 56px;
    }
    &-buttons {
      display: flex;
      align-items: center;
      padding-right: 280px;
    }
    &-arrows {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 100%;
      right: 0;
      button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        transition: 0.3s ease;
        cursor: pointer;
        margin-right: 8px;
        position: relative;
        &:last-child {
          margin: 0;
        }
        &:hover {
          opacity: 1;
          img {
            transform: translate(-37%, -50%);
          }
        }
        &.prev {
          &:hover {
            img {
              transform: translate(-62%, -50%);
            }
          }
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 73%;
          height: 73%;
          transform: translate(-50%, -50%);
          transition: 0.3s ease;
        }
      }
    }
    &-wrapper {
      position: relative;
    }
    &-slider {
      margin: 0 -12px;
      padding-top: 56px;
    }
    .slick {
      &-track {
        display: flex !important;
      }
      &-slide {
        height: unset !important;
        margin: 0 12px;
      }
    }
  }
  &Item {
    display: flex !important;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden;
    background-color: $white;
    &:hover {
      opacity: 1;
      img {
        transform: scale(1.1);
      }
    }
    &__image {
      width: 100%;
      position: relative;
      padding-bottom: 61%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        transition: 0.3s ease;
      }
    }
    &__content {
      height: 100%;
      padding: 40px 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    h4 {
      width: 100%;
      margin-bottom: 50px;
      b {
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .button {
      margin: auto 0 0 0;
    }
  }
}
// 1180px
@mixin info-xlg-xxlg {
  .info {
    padding-bottom: 150px;

    &__inner {
      &-title {
        padding-top: 40px;
      }
      &-slider {
        padding-top: 40px;
        margin: 0 -8px;
      }
      .slick {
        &-slide {
          margin: 0 8px;
        }
      }
    }
    &Item {
      &__content {
        padding: 24px 16px;
      }
      h4 {
        margin-bottom: 30px;
      }
    }
  }
}
// 750px
@mixin info-sm-md {
  .info {
    padding-bottom: 120px;
    &__inner {
      &-title {
        padding-top: 32px;
      }
      &-slider {
        padding-top: 32px;
      }
    }
  }
}
// 540px
@mixin info-xsm-sm {
  .info {
    &__inner {
      &-buttons {
        padding: 0 0 0 80px;
      }
      &-arrows {
        right: 80px;
        button {
          width: 22px;
          height: 22px;
          margin-right: 4px;
        }
      }
    }
  }
}
.solution {
  padding: 120px 0 200px;
  &__inner {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 56px;
      p {
        width: calc(100% - 220px);
        max-width: 1115px;
      }
    }
  }
  &Map {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      img {
        @include fullImage;
      }
    }
    &__inner {
      width: 100%;
      padding-bottom: 56%;
      position: relative;
      min-height: 504px;
    }
  }
  &Item {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    &.meer {
      top: 59.2%;
      left: 46.6%;
    }
    &.uer {
      top: 30.6%;
      left: 34.7%;
    }
  }
  &Btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $primary;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  &Card {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    width: 176px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transform: translateX(-50%);
    display: none;
    transition: 0.3s ease;
    z-index: 2;
    &.active {
      display: block;
      animation: fadeIn 0.3s ease;
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      background-color: $white;
      border-radius: 2px;
      content: "";
      transform: translate(-50%, 45%) rotate(45deg);
    }
    &__close {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: $white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      z-index: 2;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: $main;
        &::before {
          background-color: $white;
        }
        &::after {
          background-color: $white;
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 1px;
        content: "";
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $primary;
        transition: 0.3s ease;
        border-radius: 2px;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 12px;
        content: "";
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $primary;
        border-radius: 2px;
        transition: 0.3s ease;
      }
    }
    &__image {
      width: 100%;
      padding-bottom: 68%;
      position: relative;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        transition: 0.3s ease;
      }
    }
    &__content {
      border-radius: 0 0 8px 8px;
      padding: 8px;
      background-color: $white;
    }
    h6 {
      font-weight: 500;
      font-size: 10px;
      line-height: 128%;
      color: $black;
    }
  }
}
// 1180px
@mixin solution-xlg-xxlg {
  .solution {
    padding: 80px 0 150px;
    &__inner {
      &-title {
        margin-bottom: 40px;
        p {
          width: calc(100% - 190px);
        }
      }
    }
  }
}
// 930px
@mixin solution-md-lg {
  .solution {
    padding: 64px 0 150px;
  }
}
// 750px
@mixin solution-sm-md {
  .solution {
    padding: 64px 0 120px;
    &__inner {
      &-title {
        margin-bottom: 32px;
        flex-direction: column;
        align-items: flex-start;
        p {
          width: 100%;
          margin-bottom: 24px;
        }
      }
    }
    &Map {
      &__bg {
        img {
          object-position: 57%;
        }
      }
    }
    &Item {
      width: 24px;
      height: 24px;
      &.meer {
        top: 63.4%;
        left: 54.5%;
      }
    }
  }
}
.career {
  &__inner {
    position: relative;
    &-title {
      padding-top: 56px;
      border-top: 1px solid #d0d0d0;
      margin-bottom: 50px;
    }
  }
  &Item {
    width: 25%;
    top: 100px;
    height: calc(100vh - 124px);
    position: sticky;
    &.second {
      position: sticky;
      margin-left: 75%;
    }
    &.third {
      margin-left: 25%;
    }
    &.fourth {
      margin-left: 50%;
    }
    &.stat {
      position: relative;
      left: 50%;
    }
    &__inner {
      width: 100%;
      height: 100%;
      position: relative;
      // padding-bottom: 252%;
      border-radius: 24px;
      overflow: hidden;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          147.41deg,
          #708d77 16.32%,
          rgba(149, 95, 164, 0.9) 47.85%,
          rgba(149, 95, 164, 0) 75.21%
        );
        mix-blend-mode: multiply;
        z-index: 1;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
  &Main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    &__row {
      width: 100%;
      position: relative;
      display: flex;
      padding: 180px 0 0;
    }
    &__title {
      width: 100%;
      max-width: 870px;
      &-wrapper {
        width: calc(75% - 30px);
        max-width: 900px;
        margin: 0 0 0 auto;
        padding: 320px 50px;
        display: flex;
        justify-content: center;
      }
      h3 {
        max-width: 630px;
        margin: 0 auto;
        font-weight: 400;
        b {
          display: block;
          font-weight: 500;
        }
      }
    }
    &__text {
      width: 100%;
      max-width: 490px;
      &-wrapper {
        width: calc(75% - 30px);
        padding: 380px 50px;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-start;
      }
      p {
        font-weight: 400;
      }
    }
  }
  &Circle {
    width: 200px;
    height: 200px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 104%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    position: relative;
    &__wrapper {
      width: 100%;
      height: calc(100vh - 124px);
      position: sticky;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      opacity: 1;
      &::before {
        width: 120%;
        height: 120%;
      }
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $main;
      transition: 0.3s ease;
      content: "";
    }
    span {
      position: relative;
    }
  }
}
// 1380px
@mixin career-xxxlg-xxxxlg {
  .career {
    &Main {
      margin: 0 -20px;
    }
  }
}
// 1180px
@mixin career-xlg-xxlg {
  .career {
    &__inner {
      &-title {
        margin-bottom: 40px;
        padding-top: 40px;
      }
    }
    &Circle {
      width: 180px;
      height: 180px;
      font-size: 18px;
    }
    &Main {
      margin: 0 -10px;
    }
  }
}
// 1024px
@mixin career-lg-xlg {
  .career {
    &Item {
      top: 80px;
    }
  }
}
// 930px
@mixin career-md-lg {
  .career {
    &Main {
      &__text {
        &-wrapper {
          width: calc(75% - 16px);
          padding: 350px 0;
        }
      }
      &__title {
        &-wrapper {
          width: calc(75% - 16px);
          padding: 320px 0;
        }
      }
    }
    &Circle {
      width: 144px;
      height: 144px;
      font-size: 15px;
    }
  }
}
// 750px
@mixin career-sm-md {
  .career {
    &__inner {
      &-title {
        margin-bottom: 32px;
        padding-top: 32px;
      }
    }
    &Item {
      &__inner {
        border-radius: 16px;
      }
    }
    &Main {
      margin: 0 -8px;
    }
  }
}
// 540px
@mixin career-xsm-sm {
  .career {
    &Main {
      h3 {
        font-size: 16px;
      }
      p {
        &.big {
          font-size: 14px;
        }
      }
    }
  }
}
